name: Test

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v4
        with:
          enable-cache: true
          python-version: "3.12"

      - name: Install dependencies
        run: uv sync --frozen

      - name: Run tests with pytest
        run: uv run pytest -v --tb=short
